body{
	background-color:grey;
}

h1{
	text-shadow: 2px 2px red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 15px 50px ;
  background-color: #333;
}

li {
  float: middle;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: purple;
}